<div class="dashboard">
  <md-card
    ><md-card-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="All Public Data">
          <md-content class="md-padding">
            <div layout="row">
              <div flex-gt-sm="50" flex>
                <h4 flex>Teams</h4>
                <md-divider></md-divider>
                <md-list flex layout-padding>
                  <md-list-item
                    class="md-3-line"
                    ng-repeat="team in $ctrl.teams"
                    ng-click="$ctrl.click()"
                    ng-mouseover="$ctrl.mouseover(team)"
                  >
                    <div class="md-list-item-text" layout="column">
                      <h3>{{ team.name }}</h3>
                      <div layout="row">
                        <div
                          ng-if="$ctrl.entitiesLoaded"
                          ng-repeat="entity in team.config.entities"
                        >
                          <span class="label label-info">{{ entity.conceptAlias }}</span>
                        </div>
                      </div>
                      <small class="text-muted activity"
                        >Latest Activity: {{ team.modified ? team.modified.split(' ')[0] : 'N/A'
                        }}</small
                      >
                    </div>
                  </md-list-item>
                </md-list>
              </div>
              <div flex-gt-sm="50" flex>
                <h4 flex>Projects</h4>
                <md-divider></md-divider>
                <md-list flex>
                  <!--$md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader-->
                  <md-list-item
                    class="md-3-line"
                    ng-repeat="project in $ctrl.mouseoveredProjects"
                    ng-click="null"
                  >
                    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                      <h3>{{ project.projectTitle }}</h3>
                      <h4>{{ item.what }}</h4>
                      <p>{{ item.notes }}</p>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="My Data">
          <md-content class="md-padding">
            <h1 class="md-display-2">My Data</h1>
            <p>
              Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur
              posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae
              hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
              volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo
              lectus.
            </p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-card-content></md-card
  >
  <!--projects-table
    projects="$ctrl.privateData"
    table-title="'My Projects'"
    ng-show="$ctrl.currentUser"
    current-user="$ctrl.currentUser"
  ></projects-table>
  <projects-table
    projects="$ctrl.filteredPublicData"
    table-title="'Public Projects'"
  ></projects-table-->
</div>
